*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #BBAB9A;
    color: white;
    overflow-x: hidden;

}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 100; 
}

.logo{
    margin-left: 10%;
}

.logo a {
    display: inline-block;
    text-decoration: none;
}

.logo img{
    max-width:250px;
    max-height:100px;
    width: auto;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.logo img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.menu{
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 50px
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    transition: color 1s ease;
}

.menu ul li a:hover{
    color: #AE7862;
}
.mensagem {
    height: 100vh; 
    background-image: url('assets/BG.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
    padding: 20px;
}

.mensagem::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.mensagem p{
    padding: 10px;
}

.mensagem p, .mensagem h1{
    font-size: 25px;
    color: white;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.orcamento{  
    background-color: #AE7862;
    border-radius: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.orcamento a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    white-space: nowrap;
}

.orcamento:hover{
    background-color: #AE7862; 
    transform: scale(1.05); 
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.orcamento a:visited, 
.orcamento a:active {
    color: white; 
    text-decoration: none; 
}

.orcamento:focus {
    outline: none; 
}

.projetos {
    padding: 150px 0px;
    min-height: 400px; 
}

.projetos h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.galeria {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    justify-content: center; 
    padding: 20px; 
}

.galeria img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.galeria img:hover {
    transform: scale(1.05); 
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
}

.navegar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.lightbox-prev {
    left: 20px;
}

.lightbox-next {
    right: 20px;
}

.navegar:hover {
    color: lightgray;
}

.sobreMim .conteudo-sobre {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    background-color: #EBE6E0;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 50px auto; 
  }
  
  .sobreMim .perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .sobreMim .texto-sobre {
    flex: 1;
  }
  
  .sobreMim h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .sobreMim p {
    max-width: 800px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
  }

.rodape {
    margin-top: 100px;
    padding: 20px 10px;
    background-color: #EBE6E0;
    text-align: center;
    font-size: 1rem;
    color: #555;
}

.rodape hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

.mensagem-orcamento h3 {
    font-size: 1.5rem;
    color: #333;
}

.contatos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contatos a {
    text-decoration: none;
    color: #555;
    display: flex;
    align-items: center;
    gap: 10px; 
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.contatos a:hover {
    color: #AE7862;
}

.contatos img {
    width: 24px;
    height: 24px;
}



@media (max-width: 1200px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr); 
        gap: 15px; 
    }
    .menu-home {
        display: none !important; 
    }
    .sobre-mim {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 14px;
        margin: 10px;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
    }

    .galeria img {
        width: auto;
        height: auto;
        max-width: 100%; 
    }

    .sobreMim .conteudo-sobre {
        flex-direction: column; 
        text-align: center;
      }
      
      .sobreMim .perfil {
        width: 100%;
        max-width: 300px; 
        height: auto;
        margin: 0 auto; 
      }
      
      .sobreMim .texto-sobre {
        margin-top: 20px;
      }
      
      .sobreMim h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
      
      .sobreMim p {
        font-size: 0.9rem;
        max-width: 90%;
        margin: 0 auto;
        text-align: justify;
      }

      .rodape {
        padding: 15px 5px;
        font-size: 0.9rem;
    }
    
    .mensagem-orcamento h3 {
        font-size: 1.3rem;
    }
    
    .contatos {
        gap: 20px;
        flex-direction: column;
    }
    
    .contatos a {
        font-size: 1.1rem;
    }

    }


@media (max-width: 500px) {
    body {
        font-size: 12px;
        margin: 5px;
    }
    .header {
        flex-wrap: wrap;           
        justify-content: center;   
        text-align: center;
    }
    .logo {
        margin-left: 0;            
        margin-bottom: 10px;        
    }
    
    .menu {
        width: 100%;               
        margin-bottom: 10px;
    }
    
    .orcamento {
        margin-top: 10px;         
    }
    
    .orcamento a {
        padding: 10px 15px;        
        font-size: 16px;            
    }

    .galeria {
        grid-template-columns: 1fr; 
        gap: 10px;
    }

    .galeria img {
        width: auto;
        height: auto;
        max-width: 100%; 
    }

    .menu-home {
        display: none; 
    }
}


